// REMOVE ALL COMMENTS BEFORE RENAMING TO CONFIG.JSON
{
	"public_key" : "", // https://trello.com/1/appKey/generate 
	"private_key" : "", // https://trello.com/1/appKey/generate
	"token" : "",  // https://trello.com/1/connect?key=<public_key>&name=<app_name>&response_type=token
	"board_id" : "", // node cli.js --listBoards 
	"app_name" : "TTrello",
	"elastic.index": "test"
}